{% extends 'brawl/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/template_box.css' %}"/>
{% endblock %}

{% block body_block %}
    <div class="container">
        <h1 class="title">Glasgow Brawl Banlist Checker</h1>
    </div>
    <div class="container-xxl main_body form_holder">
        <div class="row mx-auto box_body">
            <div class="row">
                <h4 class="up">Enter your deck list here</h4>
                <p>(Must follow the format provided)</p>
            </div>

            <div class="row">
                <div class="col">
                    <p class="errors"></p>
                </div>
            </div>

            <div class="row">
                <div class="col up">
                    <textarea id="deck_box" placeholder="1 Adarkar Wastes (M3C) 316
1 Anguished Unmaking (PIP) 473 *F*
1 Archon of Emeria (MB2) 4
1 Arid Mesa (MH2) 244
1 Baleful Strix (MKC) 200
..."></textarea>
                </div>

            </div>
            <div class="row button_row up">
                <div class="col d-grid">
                    <button class="btn submit_button validate_button mx-auto">Submit</button>
                </div>
            </div>
            
            
        </div>
    </div>

    <div class="container down">
        <h1 class="title">Ban List</h1>
    </div>

    <div class="container down">
        <h2 class="title">Banned as Commander</h2>
    </div>

    <div class="container main_body">
        <div class="row">
            {% for card in Commanders %}
                <div class="col-lg-3 col-md-6 col-12 card_image">
                    <img src="https://api.scryfall.com/cards/named?exact=|{{card}}&format=image"|card width="252" height="352" alt="{{card}}"|card>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container down">
        <h2 class="title">Banned</h2>
    </div>

    <div class="container main_body">
        <div class="row">
            {% for card in Cards %}
                <div class="col-lg-3 col-md-6 col-12 card_image">
                    <img src="https://api.scryfall.com/cards/named?exact=|{{card}}&format=image"|card width="252" height="352" alt="{{card}}"|card>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}